main {
    padding: 2ex;
}

fieldset {
    margin: 3em 0;
}

label {
    display: block;
    font-weight: normal;
}

label>span {
    display: block;
    font-size: 83.333333%;
}

label.required>span {
    font-weight: bold;
}

label.required>span:before {
    content: "*";
}

label>input {
    width: 100%;
}

.breadcrumbs {
    display: block;
    padding: 0;
}

.breadcrumbs li {
    display: inline;
    font-size: 83.333333%;
}

.breadcrumbs li:after {
    content: " » ";
}