urllib3>=1.21.1<1.27 # version required by requests
#git+https://github.com/HXLStandard/libhxl-python.git@dev#egg=libhxl # for development
libhxl==5.0 # for release
ckanapi>=3.5
flask-caching
flask>=2.1.2
mysql-connector-python>=8.0.29
redis
requests>=2.27
requests_cache
structlog
