main {
    padding: 2ex;
}

fieldset {
    margin: 3em 0;
}

.theme-form label {
    display: block;
    font-weight: normal;
    margin: 2ex 0;
}

.theme-form label>span {
    display: block;
    font-size: 83.333333%;
}

.theme-form label.required>span {
    font-weight: bold;
}

.theme-form label.required>span:before {
    content: "* ";
}

.theme-form label>input {
    width: 100%;
}

.theme-form label>input[type="checkbox"] {
    float: left;
    width: auto;
    margin-right: .5em;
}

.theme-form label>textarea {
    width: 100%;
}

.map-popup th, .map-popup td {
    padding: .5em;
    vertical-align: text-top;
}

.map-popup th:after {
    content: ":";
}


