{% macro navmenu(profile, key=None, facet=None) %}
<li>
  <a href="/data/source">
    <span class="glyphicon glyphicon-plus"></span> new
  </a>
</li>
{% if key and profile.cloneable %}
<li>
  <a href="{{ data_url(profile, None, 'edit') }}">
    <span class="glyphicon glyphicon-copy"></span> clone
  </a>
</li>
{% endif %}
{% if profile.args.url and not profile.key %}
<li class="{% if facet in ['source', 'tagger', 'edit', 'profile'] %}active{% endif %}">
  <a href="{{ data_url(profile, key, 'edit') }}">
    <span class="glyphicon glyphicon-pencil"></span> transform
  </a>
</li>
{% endif %}
{% if profile and profile.args.url %}
<li class="{% if facet=='data' %}active{% endif %}">
  <a href="{{ data_url(profile, key) }}">
    <span class="glyphicon glyphicon-th-list"></span> data
  </a>
</li>
<li class="{% if facet=='validate' %}active{% endif %}">
  <a href="{{ data_url(profile, key, 'validate') }}">
    <span class="glyphicon glyphicon-ok"></span> validate
  </a>
</li>
<li class="{% if facet=='chart' %}active{% endif %}">
  <a href="{{ data_url(profile, key, 'chart') }}">
    <span class="glyphicon glyphicon-signal"></span> visualise
  </a>
</li>
{% endif %}
{% endmacro %}
