{% macro navmenu(profile, key=None, facet=None) %}
            {% if profile.args.url %}
            <li class="{% if facet=='data' %}active{% endif %}">
              <a href="{{ data_url(profile, key) }}">
                <span class="glyphicon glyphicon-th-list"></span> data
              </a>
            </li>
            <li class="{% if facet=='validate' %}active{% endif %}">
              <a href="{{ data_url(profile, key, 'validate') }}">
                <span class="glyphicon glyphicon-ok"></span> validate
              </a>
            </li>
            <li class="{% if facet=='map' %}active{% endif %}">
              <a href="{{ data_url(profile, key, 'map') }}">
                <span class="glyphicon glyphicon-map-marker"></span> map
              </a>
            </li>
            <li class="{% if facet=='chart' %}active{% endif %}">
              <a href="{{ data_url(profile, key, 'chart') }}">
                <span class="glyphicon glyphicon-signal"></span> chart
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-download-alt"></span> download<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ data_url(profile, key, format='csv') }}">download as CSV</a></li>
                <li><a href="{{ data_url(profile, key, format='json') }}">download as JSON</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span> customise<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% if profile.args.url %}
                <li>
                  <a href="/data/edit">
                    <span class="glyphicon glyphicon-plus"></span> new
                  </a>
                </li>
                {% endif %}
                {% if profile.cloneable %}
                <li>
                  <a href="{{ data_url(profile, None, 'edit') }}">
                    <span class="glyphicon glyphicon-copy"></span> clone
                  </a>
                </li>
                {% endif %}
                <li class="{% if facet=='edit' %}active{% endif %}">
                  <a href="{{ data_url(profile, key, 'edit') }}">
                    <span class="glyphicon glyphicon-pencil"></span> edit
                  </a>
                </li>
                {% if not key and profile.args.url %}
                <li class="{% if facet=='save' %}active{% endif %}">
                  <a href="{{ data_url(profile, None, 'save') }}">
                    <span class="glyphicon glyphicon-share"></span> save
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
{% endmacro %}
