<!DOCTYPE html>
<html>
  {% from 'macros/icons.html' import icons %}
  <head>
    {% block head %}
    <title>{% block title %}HXL Proxy{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ static('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ static('bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ static('hxl-proxy/hxl-proxy.css') }}" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{{ static('compat/html5shiv.min.js') }}"></script>
        <script src="{{ static('compat/respond.min.js') }}"></script>
        <![endif]-->
    {{ icons() }}
    {% endblock %}
  </head>
  <body class="container-fluid">

    {% if session.user %}
    {{ session.user.name_given }}
    {{ session.user.name_family }}
    {% endif %}

    <nav class="navbar navbar-inverse">
      {% block nav %}
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            #HXL proxy
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block menu %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      {% endblock %}
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <main>
      {% block main %}
      <h1>HXL Proxy</h1>
      <p>No content yet.</p>
      {% endblock %}
    </main>

    {% block scripts %}
    <script src="{{ static('jquery/jquery.js') }}"></script>
    <script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static('compat/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ static('hxl-proxy/hxl-proxy.js') }}"></script>
    {% endblock %}
    <script>
      hxl_proxy.config.gdriveDeveloperKey = '{{ config.get('GOOGLE_CLIENT_ID') }}';
      hxl_proxy.config.gdriveClientId = '{{ config.get('GOOGLE_OAUTH_ID') }}';
    </script>
  </body>
</html>
