#map-container {
    position: relative;
    height: 480px;
}

#map-div {
    height: 100%;
    width: 100%;
}

#map-loading {
    display: none;
    margin: auto;
    position: absolute;
    height: 4em;
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #333333;
    font-size: 120%;
}

body {
    padding-top: 50px;
}

main {
    overflow: auto;
}

.messages {
    margin-top: 1rem;
}

label {
    font-weight: normal;
    font-color: #111111;
    font-variant: small-caps;
}

.required label {
    font-weight: bold;
}

.required label:before {
    content: "* ";
}

section {
    margin-top: 2ex;
}

.panel-title a.collapsed:before {
    content: "+ ";
}

.panel-title a:before {
    content: "-";
}

.table-container {
    overflow-x: auto;
}

aside.preview {
    background: #eeeeee;
    overflow: scroll;
}

.side-preview table {
    font-size: 83.333333%;
}

td>.content {
    display: block;
    max-height: 10ex;
    overflow-y: auto;
}

.hxl-headers th {
    background: #cccccc;
    border: 2px white solid;
}

.hxl-tags th {
    background: #eeeeee;
    font-weight: normal;
    font-style: italic;
    font-size: 90%;
    font-family: mono;
    border: 2px white solid;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.badge {
    width: 6em;
    padding: .5ex;
}

.severity_error {
    background: red;
}

.severity_warning {
    background: yellow;
    color: black;
}

.severity_info {
    background: green;
    color: black;
}

.validation-message {
    font-size: 120%;
}

.icons {
}

.icons a {
    display: inline-block;
    width: 7em;
    height: 7em;
    padding: .25em;
    text-align: center;
}

.icons a img {
    padding: .25em;
    border: 1px solid;
    border-radius: 1em;
    width: 4em;
    height: 4em;
    text-align: center;
}

.icons a span {
    display: block;
    text-align: center;
}

.doc {
    padding: 2ex;
    background: #eeeecc;
    border-radius: 1ex;
    margin-bottom: 3ex;
}

.source-url {
    position: relative;
}

.source-url div {
    width: 100%;
    whitespace: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#filters {
    max-width: 40rem;
}

aside h2 {
    font-size: 100%;
    font-weight: bold;
    margin-top: 1rem;
}

aside img {
    border: solid 1px #aaaaaa;
    margin: 1ex 0;
}

.nav-tabs {
    margin-top: 1rem;
}

p {
    margin: 1rem 0;
}

/* jquery-sortable */

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.filter-list {
    list-style: none;
    padding-left: 0;
}

ol.filter-list li.filter {
    margin-bottom: 1ex;
}

ol.filter-list li.placeholder:before {
    position: absolute;
    content: "\21D2";
    margin-left: -1em;
}

ol.filter-list .filter-delete {
    float: right;
}

.help-link {
    float: right;
}

.handle {
    margin-right: 1em;
}

fieldset legend {
    font-size: 120%;
    font-weight: bold;
}

.aggregate {
    padding: 1ex;
    margin: 0 0 1ex 0;
    border: 1px solid #aaaaaa;
    border-radius: 1ex;
}

.recipe-buttons {
    margin-top: 3ex;
}

.filter-list {
    margin-top: 3ex;
    margin-bottom: 3ex;
}
