<div class="fields-merge hideable">
  {% import 'snippets/filters/filter-variables.j2' as vars %}
  {% from 'macros/help.html' import help %}
  {% from 'macros/selectors.html' import selectors %}

  <p class="doc">
    Merge columns from one HXL dataset into another one.
    {{ help('Merge-columns-filter') }}
  </p>

  {% set name='merge-url%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      URL of merge dataset (pull extra data from here)
    </label>
    <input
        class="form-control"
        id="{{ name }}-field"
        name="{{ name }}"
        type="url"
        value="{{ profile.args[name] }}"
        required="required"
        placeholder="http://example.org/data-to-merge.csv"
        />
    {{ selectors('#' + name + '-field') }}
  </div>

  {% set name='merge-tags%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      Tags to copy from other dataset
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ profile.args[name] }}"
        required="required"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}"
        />
  </div>

  {% set name='merge-keys%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      Shared keys (values that are the same in both datasets)
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ profile.args[name] }}"
        required="required"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}"
        />
  </div>

  {% set name='merge-replace%02d' % n %}
  <div id="{{ name }}" class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if profile.args[name] %}
          checked="checked"
          {% endif %}
          />
      Use existing empty cells where possible.
    </label>
  </div>

  {% set name='merge-overwrite%02d' % n %}
  <div id="{{ name }}" class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if profile.args[name] %}
          checked="checked"
          {% endif %}
          />
      Overwrite existing values.
    </label>
  </div>

</div>
