<div class="fields-replace-map hideable">
  {% import 'snippets/filters/filter-variables.j2' as vars %}
  {% from 'macros/help.html' import help %}
  {% from 'macros/selectors.html' import selectors %}

  <p class="doc">
    Replace values using an external mapping table.
    {{ help('Replace-data-filter') }}
  </p>

  {% set name='replace-map-url%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      URL of the external mapping table
    </label>
    <input
        class="form-control"
        required="required"
        id="{{ name }}-field"
        name="{{ name }}"
        value="{{ profile.args[name] }}"
        type="url"
        placeholder="http://example.org/replacement-map.csv"
        />
    {{ selectors('#' + name + '-field') }}
  </div>

</div>
