<div class="fields-tagger hideable">
  {% import 'snippets/filters/filter-variables.j2' as vars %}
  <p class="doc">If your source data does not already include HXL hashtags, you can use this filter to add up to 10 tags. It's not necessary to include the whole header string.</p>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Header (sub)string</th>
        <th>HXL hashtag</th>
      </tr>
      <tr>
        <td><i>E.g.</i></td>
        <td><code>Province</code></td>
        <td><code>#adm1</code></td>
      </tr>
    </thead>
    <tbody>
      {% for i in range(1,11) %}
      {% set name='tagger-%02d' % i %}
      <tr>
        <td>{{ i }}</td>
        <td><input class="form-control" name="{{ name + '-header' }}" value="{{ profile.args[name + '-header'] }}" placeholder="Header text" /></td>
        <td><input class="form-control" name="{{ name + '-tag' }}" value="{{ profile.args[name + '-tag'] }}" pattern="^{{ vars.tag_pattern }}$" title="{{ vars.tag_help }}" placeholder="{{ vars.tag_placeholder }}" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

