<ul class="nav nav-tabs"> 
  <li class="{% if facet=='source' %}active{% endif %}">
    <a href="{{ data_url_for('data_source', recipe) }}">
      Source
    </a>
  </li>
  {% if recipe.args.url %}
  {% if using_tagger_p(recipe) or facet=='tagger' %}
  <li class="{% if facet=='tagger' %}active{% endif %}">
    <a href="{{ data_url_for('data_tagger', recipe) }}">
      Tags
    </a>
  </li>
  {% endif %}
  <li class="{% if facet=='edit' %}active{% endif %}">
    <a href="{{ data_url_for('data_edit', recipe) }}">
      Recipe
    </a>
  </li>
  <li class="{% if facet=='save' %}active{% endif %}">
    <a href="{{ data_url_for('data_save', recipe) }}">
      {% if recipe.recipe_id %}
      Update
      {% else %}
      Save
      {% endif %}
    </a>
  </li>
  {% endif %}
  <li class="{% if facet=='view' %}active{% endif %}">
    <a href="{{ data_url_for('data_view', recipe) }}">
      View
    </a>
  </li>
</ul>
