<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img class="navbar-brand" src="{{ static('images/hxl-logo-white.png') }}" alt="#HXL" />
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{% if facet=='source' and not profile.args.url %}active{% endif %}">
          <a href="/data/source">
            <span class="glyphicon glyphicon-plus"></span>
            New
          </a>
        </li>
        {% if profile and profile.args.url %}
        <li class="{% if facet in ['source', 'tagger', 'edit', 'view'] %}active{% endif %}">
          <a href="{{ data_url(profile, key) }}">
            <span class="glyphicon glyphicon-th-list"></span>
            Data
          </a>
        </li>
        <li class="{% if facet=='validate' %}active{% endif %}">
          <a href="{{ data_url(profile, key, 'validate') }}">
            <span class="glyphicon glyphicon-ok"></span>
            Validate
          </a>
        </li>
        <li class="{% if facet=='chart' %}active{% endif %}">
          <a href="{{ data_url(profile, key, 'chart') }}">
            <span class="glyphicon glyphicon-signal"></span>
            Visualise
          </a>
        </li>
        {% if key and profile.cloneable %}
        <li>
          <a href="{{ data_url(profile, None, 'edit') }}">
            <span class="glyphicon glyphicon-copy"></span>
            Clone
          </a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.member %}
        <li class="{% if facet=='settings' %}active{% endif %}">
          <a href="/settings/user">
            <span class="glyphicon glyphicon-user"></span>
            {{ g.member.name_given }}
          </a>
        </li>
        <li>
          <a href="/logout">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          </a>
        </li>
        {% else %}
        <li>
          <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% include "includes/messages.html" %}
