    <div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Edit filter</h2>
          </div>
          <div class="modal-body">
            {% if not is_authorised %}
            <p><small>You need a password to edit this filter.{% if profile.cloneable %} You can also use the "Clone" option to create your own copy.{% endif %}</small></p>
            {% endif %}
            <form class="theme-form" method="POST" action="/data/{{ key }}/edit">
              {% if not is_authorised %}
              <div class="required form-group">
                <label for="password">Password</label>
                <input name="password" type="password" required="required" class="form-control" />
              </div>
              {% endif %}
              <button type="submit">Edit this filter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
