    {% if source %}
    <div class="table-container hxltable">
    <table class="table">
      <thead>
        {% if show_headers and source.has_Headers %}
        <tr class="hxl-headers">
          {% for header in source.headers %}
          <th>{{ unicode(header) }}</th>
          {% endfor %}
        </tr>
        {% endif %}
        <tr class="hxl-tags" id="hashtag-row">
          {% for tag in source.display_tags %}
          <th>{{ unicode(tag) }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in source %}
        <tr id="row_{{ row.row_number }}">
          {% for value in row.values %}
          <td><span class="content">{{ unicode(value) }}</span></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}
