<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img class="navbar-brand" src="{{ static('images/hxl-logo-white.png') }}" alt="#HXL" />
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if profile and profile.args.url %}
        <li class="{% if facet=='data' %}active{% endif %}">
          <a href="{{ data_url(profile, key) }}">
            <span class="glyphicon glyphicon-th-list"></span>
            view data
          </a>
        </li>
        <li class="{% if facet=='validate' %}active{% endif %}">
          <a href="{{ data_url(profile, key, 'validate') }}">
            <span class="glyphicon glyphicon-ok"></span>
            validate
          </a>
        </li>
        <li class="{% if facet=='chart' %}active{% endif %}">
          <a href="{{ data_url(profile, key, 'chart') }}">
            <span class="glyphicon glyphicon-signal"></span> visualise
          </a>
        </li>
        {% if profile.args.url and not profile.key %}
        <li class="{% if facet in ['source', 'tagger', 'edit', 'profile'] %}active{% endif %}">
          <a href="{{ data_url(profile, key, 'edit') }}">
            <span class="glyphicon glyphicon-pencil"></span>
            edit
          </a>
        </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" 
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
            <span class="glyphicon glyphicon-edit"></span>
            actions
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/data/source">
                <span class="glyphicon glyphicon-plus"></span>
                start new view
              </a>
            </li>
            {% if key and profile.cloneable %}
            <li>
              <a href="{{ data_url(profile, None, 'edit') }}">
                <span class="glyphicon glyphicon-copy"></span>
                clone this view
              </a>
            </li>
            {% endif %}
            {% if profile %}
            <li class="{% if facet=='profile' %}active{% endif %}">
              <a href="{{ data_url(profile, key, 'profile') }}">
                {% if key %}
                <span class="glyphicon glyphicon-cog"></span>
                edit settings
                {% else %}
                <span class="glyphicon glyphicon-save"></span>
                save this view
                {% endif %}
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.member %}
        <li class="{% if facet=='settings' %}active{% endif %}">
          <a href="/settings/user">
            <span class="glyphicon glyphicon-user"></span>
            {{ g.member.name_given }}
          </a>
        </li>
        <li>
          <a href="/logout">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          </a>
        </li>
        {% else %}
        <li>
          <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% include "snippets/messages.html" %}
