<div class="fields-add hideable">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    Add a new column (with a constant value) to the data.
    {% with key='Add-columns-filter' %}{% include "includes/help.html" %}{% endwith %}
  </p>

  {% set name='add-tag%02d' % n %}
  <div class="form-group required" id="{{ name }}">
    <label for="{{ name }}">
      Tag for new column.
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        required="required"
        pattern="^{{ vars.tag_pattern }}$"
        title="{{ vars.tag_help }}"
        placeholder="{{ vars.tag_placeholder }}"
        />
  </div>

  {% set name='add-value%02d' % n %}
  <div class="form-group required" id="{{ name }}">
    <label for="{{ name }}">
      Fixed value for new column.
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="Fixed value"
        />
  </div>

  {% set name='add-header%02d' % n %}
  <div id="{{ name }}" class="form-group">
    <label for="{{ name }}">
      Display header for new column.
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="Header text"
        />
  </div>

  {% set name='add-before%02d' % n %}
  <div id="{{ name }}" class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if recipe.args[name] %}
          checked="checked"
          {% endif %}
          />
      Add new column to front
    </label>
  </div>

</div>
