<div class="filter-add filter-body">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    {% with key='Add-column-filter' %}{% include "includes/help.html" %}{% endwith %}
    Add a new column (with a constant value) to the data.
  </p>

  {% set name='add-tag{0:02}'.format(n) %}
  <div class="form-group required">
    <label for="{{ name }}">
      Tag for new column.
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        required="required"
        pattern="^{{ vars.tag_pattern }}$"
        title="{{ vars.tag_help }}"
        placeholder="{{ vars.tag_placeholder }}"
        />
  </div>

  {% set name='add-value{0:02}'.format(n) %}
  <div class="form-group required">
    <label for="{{ name }}">
      Fixed value for new column.
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        title="Fixed value to add in every row."
        placeholder="Fixed value"
        />
  </div>

  {% set name='add-header{0:02}'.format(n) %}
  <div class="form-group">
    <label for="{{ name }}">
      Display header for new column.
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="Header text"
        />
  </div>

  {% set name='add-before{0:02}'.format(n) %}
  <div class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if recipe.args[name] %}
          checked="checked"
          {% endif %}
          />
      Add new column to front
    </label>
  </div>

</div>
