<fieldset class="fields-count hideable">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    Aggregate HXL data to generate reports or protect private data.
    {% with key='Count-rows-filter' %}{% include "includes/help.html" %}{% endwith %}
  </p>

  {% set name='count-tags%02d' % n %}
  <div id="{{ name }}" class="form-group">
    <label for="{{ name }}">
      Count unique combinations of these hashtags (comma-separated)
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}" />
  </div>

  {% set name='count-where%02d' % n %}
  <div id="{{ name }}" class="form-group">
    <label for="{{ name }}">
      Count only rows that match this query
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.query_pattern }}$"
        title="{{ vars.query_help }}"
        placeholder="#tag=value" />
  </div>

  <fieldset>
    <legend>Aggregate values</legend>

    {% for m in range(1, 4) %}
    <div class="aggregate row">
      
      {%set name='count-type%02d-%02d' % (n, m,) %}
      <div id="{{ name }}" class="form-group col-sm-6 aggregate-type required">
        <label for="{{ name }}">Aggregation type</label>
        <select name="{{ name }}" class="form-control">
          <option value="">--</option>
          {% if ((m == 1) and (not recipe[args])) or (recipe.args[name] == 'count') %}
          <option value="count" selected="selected">Count</option>
          {% else %}
          <option value="count">Row count</option>
          {% endif %}
          {% if recipe.args[name] == 'sum' %}
          <option value="sum" selected="selected">Sum</option>
          {% else %}
          <option value="sum">Sum</option>
          {% endif %}
          {% if recipe.args[name] == 'average' %}
          <option value="average" selected="selected">Average</option>
          {% else %}
          <option value="average">Average</option>
          {% endif %}
          {% if recipe.args[name] == 'min' %}
          <option value="min" selected="selected">Minimum</option>
          {% else %}
          <option value="min">Minimum</option>
          {% endif %}
          {% if recipe.args[name] == 'max' %}
          <option value="max" selected="selected">Maximum</option>
          {% else %}
          <option value="max">Maximum</option>
          {% endif %}
        </select>
      </div>
      
      {% set name='count-pattern%02d-%02d' % (n, m,) %}
      <div id="{{ name }}" class="form-group col-sm-6 aggregate-pattern required">
        <label for="{{ name }}">Hashtag to aggregate</label>
        <input name="{{ name }}"
               class="form-control"
               placeholder="{{ vars.filter_placeholder }}"
               value="{{ recipe.args[name] }}"
               />
      </div>
      
      {%set name='count-header%02d-%02d' % (n, m,) %}
      <div id="{{ name }}" class="form-group col-sm-6 aggregate-header">
        <label for="{{ name }}">Output header</label>
        <input name="{{ name }}"
               class="form-control"
               value="{% if (m==1 and not recipe.args[name]) %}Count{% else %}{{ recipe.args[name]|nonone }}{% endif %}"
               placeholder="Column header"
               />
      </div>

      {%set name='count-column%02d-%02d' % (n, m,) %}
      <div id="{{ name }}" class="form-group col-sm-6 aggregate-column
                                  required">
        <label for="{{ name }}">Output hashtag</label>
        <input name="{{ name }}"
               class="form-control"
               value="{% if (m==1 and not recipe.args[name]) %}#meta+count{% else %}{{ recipe.args[name]|nonone }}{% endif %}"
               placeholder="{{ vars.tag_placeholder }}"
               />
      </div>
    </div>
    {% endfor %}
  </fieldset>

  {% set name='count-spec%02d' % n %}
  {% if recipe.args[name] %}
  <div id="{{ name }}" class="form-group deprecated">
    <label for="{{ name }}">
      Deprecated: Name and hashtag for count column (instead of <code>#meta+count</code>)
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        title="{{ vars.filters_help }}"
        placeholder="Header Text#tag+attributes" />
  </div>
  {% endif %}


  {% set name='count-aggregate-tag%02d' % n %}
  {% if recipe.args[name] %}
  <div id="{{ name }}" class="form-group deprecated">
    <label for="{{ name }}">
      Deprecated: Optionally also include aggregate values (sum, average, min, max) for
      this tag pattern.
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.filter_pattern }}$"
        title="{{ vars.filter_help }}"
        placeholder="#tag" />
  </div>
  {% endif %}

</fieldset>
