<div class="fields-dedup hideable">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    Remove duplicate rows from a dataset.
    {% with key='Deduplicate-rows-filter' %}{% include "includes/help.html" %}{% endwith %}
  </p>

  {% set name='dedup-tags%02d' % n %}
  <div id="{{ name }}" class="form-group">
    <label for="{{ name }}">
      Tags to look at for deduplication (if blank, <i>all</i> columns
      must match for a duplicate).
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}" />
  </div>

</div>
