<div class="filter-dedup filter-body">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    {% with key='Deduplicate-rows-filter' %}{% include "includes/help.html" %}{% endwith %}
    Remove duplicate rows from a dataset.
  </p>

  {% include 'includes/filters/label-field.html' %}

  {% set name='dedup-tags%02d' % n %}
  <div class="form-group">
    <label for="{{ name }}">
      Tags to look at for deduplication (if blank, <i>all</i> columns
      must match for a duplicate).
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}" />
  </div>

  {% set name='dedup-where%02d' % n %}
  <div class="form-group">
    <label for="{{ name }}">
      Deduplicate only rows matching this query
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.query_pattern }}$"
        title="{{ vars.query_help }}"
        placeholder="{{ vars.query_placeholder }}"
        />
  </div>

</div>
