<div class="panel panel-info filter-selector">
  {# Recipe filter-type selector #}
  {% import 'includes/filters/filter-types.j2' as filter_types %}
  <div class="panel-body">
    <div class="field_filter form-group">
      <label for="{{ name }}">
        Choose filter type to add
      </label>
      {% set name='filter%02d' % n %}
      <select id="{{ name }}" name="{{ name }}" class="form-control">
        <option value="">(none)</option>
        {% for type in filter_types.names.keys()|sort %}
        <option value="{{ type }}">{{ filter_types.names[type] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
