{# Recipe filter types and labels #}
{% set names = {
    'add': 'Add column',
    'append': 'Append datasets',
    'append-list': 'Append datasets (external list)',
    'clean': 'Clean data',
    'count': 'Count rows',
    'cut': 'Cut columns',
    'dedup': 'Deduplicate rows',
    'explode': 'Explode data',
    'fill': 'Fill empty cells',
    'jsonpath': 'JSONPath value extraction',
    'merge': 'Merge from another dataset',
    'rename': 'Rename column',
    'replace': 'Replace data',
    'replace-map': 'Replace data (external map)',
    'select': 'Select rows',
    'sort': 'Sort rows',
} %}