<div class="fields-merge hideable">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    Merge columns from one HXL dataset into another one.
    {% with key='Merge-columns-filter' %}{% include "includes/help.html" %}{% endwith %}
  </p>

  {% set name='merge-url%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      URL of merge dataset (pull extra data from here)
    </label>
    <input
        class="form-control"
        id="{{ name }}-field"
        name="{{ name }}"
        type="url"
        value="{{ recipe.args[name] }}"
        required="required"
        placeholder="http://example.org/data-to-merge.csv"
        />
    {% with id='#' + name + '-field' %}
    {% include "includes/selectors.html" %}
    {% endwith %}
  </div>

  {% set name='merge-tags%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      Tags to copy from other dataset
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        required="required"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}"
        />
  </div>

  {% set name='merge-keys%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      Shared keys (values that are the same in both datasets)
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        required="required"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}"
        />
  </div>

  {% set name='merge-replace%02d' % n %}
  <div id="{{ name }}" class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if recipe.args[name] %}
          checked="checked"
          {% endif %}
          />
      Use existing empty cells where possible.
    </label>
  </div>

  {% set name='merge-overwrite%02d' % n %}
  <div id="{{ name }}" class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if recipe.args[name] %}
          checked="checked"
          {% endif %}
          />
      Overwrite existing values.
    </label>
  </div>

</div>
