<div class="filter-rename filter-body">
  {% import 'includes/filters/filter-variables.j2' as vars %}
  <p class="doc">
    {% with key='Rename-column-filter' %}{% include "includes/help.html" %}{% endwith %}
    Rename and retag an existing column.
  </p>

  {% include 'includes/filters/label-field.html' %}

  {% set name='rename-oldtag%02d' % n %}
  <div class="form-group required">
    <label for="{{ name }}">
      Original hashtag pattern
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.filter_pattern }}$"
        title="{{ vars.filter_help }}"
        required="required"
        placeholder="{{ vars.filter_placeholder }}"
        />
  </div>

  {% set name='rename-oldheader%02d' % n %}
  <div class="form-group">
    <label for="{{ name }}">
      Choose only columns with this text header (optional)
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="Old display header"
        />
  </div>

  {% set name='rename-newtag%02d' % n %}
  <div class="form-group required">
    <label for="{{ name }}">
      New hashtag and attributes
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.tag_pattern }}$"
        title="{{ vars.tag_help }}"
        required="required"
        placeholder="{{ vars.tag_placeholder}}"
        />
  </div>

  {% set name='rename-header%02d' % n %}
  <div class="form-group">
    <label for="{{ name }}">
      New text header.
    </label>
    <input
        id="{{ name }}"
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="New display header"
        />
  </div>

</div>
