<div class="fields-replace hideable">
  {% import 'includes/filters/filter-variables.j2' as vars %}

  <p class="doc">
    Replace values in the dataset.
    {% with key='Replace-data-filter' %}{% include "includes/help.html" %}{% endwith %}
  </p>

  {% set name='replace-pattern%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      Text or pattern to replace
    </label>
    <input
        class="form-control"
        required="required"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="text to replace"
        />
  </div>

  {% set name='replace-value%02d' % n %}
  <div id="{{ name }}" class="form-group required">
    <label for="{{ name }}">
      New text
    </label>
    <input
        class="form-control"
        required="required"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        placeholder="text to replace"
        />
  </div>

  {% set name='replace-tags%02d' % n %}
  <div id="{{ name }}" class="form-group">
    <label for="{{ name }}">
      Replace only in these columns
    </label>
    <input
        class="form-control"
        name="{{ name }}"
        value="{{ recipe.args[name] }}"
        pattern="^{{ vars.filters_pattern }}$"
        title="{{ vars.filters_help }}"
        placeholder="{{ vars.filters_placeholder }}"
        />
  </div>

  {% set name='replace-regex%02d' % n %}
  <div id="{{ name }}" class="checkbox">
    <label>
      <input
          type="checkbox"
          name="{{ name }}"
          {% if recipe.args[name] %}
          checked="checked"
          {% endif %}
          />
      Use a regular expression pattern.
    </label>
  </div>

</div>
