main {
    margin: 3em 1em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.folder, .file {
    padding: .5em;
    width: 8em;
    min-height: 8em;
    float: left;
    text-align: center;
    word-wrap: break-word;
    word-wrap: break-all;
}

.icon {
    display: block;
    font-size: 200%;
}

.icon .icon-format {
    display: block;
    font-size: 30%;
    margin-top: -1em;
}

.dataset {
    margin-bottom: 2em;
}

.dataset .icon {
    clear: left;
    float: left;
    text-align: center;
    width: 2em;
}

.dataset .icon-source {
    display: block;
    margin-left: 4em;
    font-style: italic;
}

.dataset .icon-label {
    display: block;
    margin-left: 4em;
}

#content.loading {
    color: #aaaaaa;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

#overview {
    font-size: 90%;
}

#overview dl {
    display: block;
    margin: 0;
}

#overview dl dt {
    display: block;
    float: left;
    clear: left;
    width: 10em;
}

#overview dl dd {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.breadcrumb li {
  display: inline;
}