<!DOCTYPE html>
<html>
  <head>
    <title>HXL proxy</title>
    <link rel="stylesheet" type="text/css" href="{{ static('style.css') }}" />
  </head>
  <body>
    <h1>HXL proxy</h1>
    <form action="/filter" method="GET" id="filter-form">
      <label>
        <span>Enter URL of a HXL file</span>
        <input name="url" type="url" required="required" value="{{ url }}"/>
      </label>
      {% for n in range(1, 6) %}
      <fieldset id="{{ 'filter-group%02d' % n }}">
        <label id="{{ 'filter%02d' % n }}" class="field_filter">
          <span>Filter</span>
          <select name="{{ 'filter%02d' % n }}">
            <option value="">(none)</option>
            <option value="norm">Normalise</option>
            <option value="count">Count</option>
            <option value="sort">Sort</option>
            <option value="cut">Cut</option>
            <option value="select">Select</option>
          </select>
          <label id="{{ 'tags%02d' % n }}" class="hideable field_tags">
            <span>Tags</span>
            <input name="{{ 'tags%02d' % n }}" />
          </label>
          <label id="{{ 'query%02d' % n }}" class="hideable field_query">
            <span>Query</span>
            <input name="{{ 'query%02d' % n }}" />
          </label>
          <label id="{{ 'sort%02d' % n }}" class="hideable field_sort">
            <span>Sort order</span>
            <select name="{{ 'sort%02d' % n }}">
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </label>
        </label>
      </fieldset>
      {% endfor %}
      <input type="hidden" name="format" value="html" />
      <button type="submit">Go!</button>
    </form>
    <script type="text/javascript" src="{{ static('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static('filter-form.js') }}"></script>
  </body>
</html>
