{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% set title=analysis.title(tag_pattern)|default('Analysis of ' + tag_pattern.__str__()) %}
{% set values=analysis.get_top_values(tag_pattern) %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
{{ navmenu(profile=analysis, facet='analysis-tag') }}
{% endblock %}

{% block main %}
    <ul class="breadcrumb">
      {% if not analysis.filters %}
      <li class="active">3W data</li>
      {% else %}
      <li><a href="?url={{ analysis.args.url|urlencode }}">3W data</a></li>
      {% endif %}
      {% for filter in analysis.filters %}
      <li><a href="{{ analysis.overview_url(limit=filter) }}">{{ unicode(filter.orig) }}</a></li>
      {% endfor %}
      <li class="active">{{ tag_pattern }}</li>
    </ul>

    <h1>{{ title }}</h1>

    {% if analysis.description %}
    <p>{{ analysis.description }}</p>
    {% endif %}

    <p class="small"><a href="{{ analysis.args.url }}">Original dataset</a></p>

    <table class="table">
      <thead>
        <tr>
          <th>{{ tag_pattern }}</th>
          <th>Number</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in values %}
        <tr>
          <td><a href="{{ analysis.overview_url(tag_pattern, entry.value) }}">{{ unicode(entry.orig) }}</a></td>
          <td>{{ entry.count }}</td>
          <td>{{ '{0:.1f}%'.format(entry.percentage * 100) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
