<div>
  {% extends "models/page.basic.html" %}
  {% from 'macros/navmenu.html' import navmenu %}

  {% set title=analysis.title(tag_pattern)|default('Analysis of ' + tag_pattern.__str__()) %}
  {% set values=analysis.get_top_values(tag_pattern) %}

  {% block title %}{{ title }}{% endblock %}

  {% block head %}
  {{ super() }}
  <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
  {% endblock %}

  {% block menu %}
  <li>
    <a href="/analysis">
      <span class="glyphicon glyphicon-plus"></span>
      new
    </a>
  </li>
  <li>
    <a href="{{ analysis.overview_url() }}">
      <span class="glyphicon glyphicon-wrench"></span>
      overview
    </a>
  </li>
  <li class="active">
    <a>
      <span class="glyphicon glyphicon-tag"></span>
      {{ tag_pattern.tag }}
    </a>
  </li>
  <li>
    <a href="{{ analysis.data_url() }}">
      <span class="glyphicon glyphicon-th-list"></span>
      data
    </a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-download-alt"></span> download<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{ analysis.data_url(format='csv') }}">download as CSV</a></li>
      <li><a href="{{ analysis.data_url(format='json') }}">download as JSON</a></li>
    </ul>
  </li>
  {% endblock %}

  {% block main %}
  <div>
    <ul class="breadcrumb">
      {% if not analysis.filters %}
      <li class="active">3W data</li>
      {% else %}
      <li><a href="?url={{ analysis.args.url|urlquote }}">3W data</a></li>
      {% endif %}
      {% for filter in analysis.filters %}
      <li><a href="{{ analysis.overview_url(limit=filter) }}">{{ filter.orig }}</a></li>
      {% endfor %}
      <li class="active">{{ tag_pattern }}</li>
    </ul>

    <h1>{{ title }}</h1>

    <p>Select a link to zoom in on part of the data.</p>

    <table class="table">
      <thead>
        <tr>
          <th>{{ tag_pattern }}</th>
          <th>Number</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in values %}
        <tr>
          <td>
            <a href="{{ analysis.overview_url(tag_pattern, entry.value) }}">
              <span class="glyphicon glyphicon-zoom-in"></span>
              {{ entry.orig }}
            </a>
          </td>
          <td>{{ entry.count }}</td>
          <td>{{ '{0:.1f}%'.format(entry.percentage * 100) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="small"><a href="{{ analysis.args.url }}">Original dataset</a></p>
  </div>
  {% endblock %}

  {% block scripts %}
  {{ super() }}
  {% endblock %}
</div>
