{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% block title %}{{ analysis.name|default("Analysis") }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
{{ navmenu(profile=analysis, facet='analysis') }}
{% endblock %}

{% block main %}
{%if analysis.args.tag %}
    <h1>{{ analysis.args.title|default(analysis.args.tag) }}</h1>
{% else %}
    <h1>{{ analysis.name|default("Analysis") }}</h1>
{% endif %}
    {% if analysis.description %}
    <p>{{ analysis.description }}</p>
    {% endif %}

    <p class="small">Original dataset: <a href="{{ analysis.args.url }}">{{ analysis.args.url }}</a></p>

    {% if analysis.args.tag %}
    <table class="table">
      <thead>
        <tr>
          <th>{{ analysis.args.tag }}</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        {% for frequency_pair in analysis.get_top_values(analysis.args.tag, max=-1) %}
        <tr>
          <td>{{ unicode(frequency_pair[0]) }}</td>
          <td>{{ frequency_pair[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    {% for pattern in analysis.patterns %}
    <section class="leading-figure">
      <h2>Top {{ pattern[1]|default('values for' + pattern[0]) }}</a></h2>
      <table>
        {% for frequency_pair in analysis.get_top_values(pattern[0], max=3) %}
        <tr>
          <th><a href="?url={{ analysis.args.url|urlencode }}&amp;xxx=xxx">{{ unicode(frequency_pair[0]) }}</a></th>
          <td>{{ frequency_pair[1] }}</td>
        </tr>
        {% endfor %}
      </table>
      <a class="btn btn-default" href="?url={{ analysis.args.url|urlencode }}&tag={{ pattern[0]|urlencode }}&title={{ pattern[1]|urlencode }}">see all</a>
    </section>
    {% endfor %}
    {% endif %}

    </section>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
