{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% set title=analysis.name|default("Overview") %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
{{ navmenu(profile=analysis, facet='analysis-overview') }}
{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>

    {% if analysis.description %}
    <p>{{ analysis.description }}</p>
    {% endif %}

    <p class="small">Original dataset: <a href="{{ analysis.args.url }}">{{ analysis.args.url }}</a></p>

    <section class="row">
    {% for pattern in analysis.patterns %}
    <section class="col-lg-3 col-md-4 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">
      {% set entries = analysis.get_top_values(pattern[0]) %}
      <h2 class="panel-title">Top {{ pattern[1]|default('values for' + pattern[0]) }} (of {{ entries|count }})</h2>
      </div>
      <div class="panel-body">
      <table class="table">
        <tbody>
          {% for entry in entries[:3] %}
          <tr>
            <th>{{ unicode(entry.value) }}</th>
            <td>{{ entry.count }}</td>
            <td>{{ '{0:.1f}%'.format(entry.percentage * 100) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      <div class="panel-footer">
        <a class="btn btn-default" href="/analysis/{{ pattern[0][1:]|urlencode }}?url={{ analysis.args.url|urlencode }}&title={{ pattern[1]|urlencode }}">see all {{ pattern[1]|default('values for' +
      pattern[0]) }}</a>
      </div>
      </div>
    </section>
    {% endfor %}
    </section>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
