{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% set title = 'HXL datasets on HDX' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
            <li class="active">
              <a href="/analysis">
                <span class="glyphicon glyphicon-plus"></span> new
              </a>
            </li>
{% endblock %}

{% block main %}

    <h1>{{ title }}</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Dataset</th>
          <th>Resource</th>
        </tr>
      </thead>
      <tbody>
        {% for dataset in datasets %}
        <tr>
          <td>{{ dataset.title }}</td>
          <td>
            {% for resource in dataset.resources %}
            <p><a href="/analysis/overview?url={{ resource.url|urlencode }}">{{ resource.name }}</a> ({{ resource.format }})</p>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
