{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% set title = analysis.title() %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
            <li>
              <a href="/analysis">
                <span class="glyphicon glyphicon-plus"></span> new
              </a>
            </li>
            <li>
              <a href="{{ analysis.overview_url() }}">
                <span class="glyphicon glyphicon-wrench"></span> overview
              </a>
            </li>
            <li class="active">
              <a href="{{ analysis.data_url() }}">
                <span class="glyphicon glyphicon-th-list"></span> data
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-download-alt"></span> download<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ analysis.data_url(format='csv') }}">download as CSV</a></li>
                <li><a href="{{ analysis.data_url(format='json') }}">download as JSON</a></li>
              </ul>
            </li>
{% endblock %}

{% block main %}

    <ul class="breadcrumb">
      {% if not analysis.filters %}
      <li class="active">3W data</li>
      {% else %}
      <li><a href="?url={{ analysis.args.url|urlencode }}">3W data</a></li>
      {% endif %}
      {% for filter in analysis.filters %}
      {% if filter == analysis.filters|last %}
      <li class="active">{{ filter.orig }}</li>
      {% else %}
      <li><a href="{{ analysis.overview_url(limit=filter) }}">{{ filter.orig }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>

    <h1>{{ title }}</h1>

    <p><a href="{{ analysis.args.url }}">Original dataset</a></p>

    {% set profile=analysis %}
    {% set source=analysis.source %}
    {% include 'snippets/hxltable.html' %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
