{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% if analysis %}
{% set title = unicode(analysis.title()) %}
{% else %}
{% set title = 'Analyse HXL data' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
{% endblock %}

{% block main %}

    {% if analysis %}
    <ul class="breadcrumb">
      {% if not analysis.filters %}
      <li class="active">3W data</li>
      {% else %}
      <li><a href="?url={{ analysis.args.url|urlencode }}">3W data</a></li>
      {% endif %}
      {% for filter in analysis.filters %}
      {% if filter == analysis.filters|last %}
      <li class="active">{{ unicode(filter.orig) }}</li>
      {% else %}
      <li><a href="{{ analysis.overview_url(limit=filter) }}">{{ unicode(filter.orig) }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    <h1>{{ title }}</h1>

    {% if not analysis %}
    <form>
      <div class="form-group">
        <label for="url">Dataset URL</label>
        <div class="input-group">
          <input class="form-control" name="url" type="url" required="required" placeholder="http://example.org/dataset.csv" />
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Analyse</button>
          </span>
        </div>
      </div>
    </form>
    {% else %}
    <p><a href="{{ analysis.args.url }}">Original dataset</a> (<a href="/analysis">Change</a>)</p>

    {% if analysis.patterns %}
    <section class="row">
    {% for pattern in analysis.patterns %}
    <section class="col-lg-3 col-md-4 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">
      {% set entries = analysis.get_top_values(pattern[0]) %}
      <h2 class="panel-title">Top {{ pattern[1]|default('values for' + pattern[0]) }} (of {{ entries|count }})</h2>
      </div>
      <div class="panel-body">
      <table class="table">
        <tbody>
          {% for entry in entries[:3] %}
          <tr>
            <th><a href="{{ analysis.overview_url(pattern[0], entry.value) }}">{{ unicode(entry.orig) }}</a></th>
            <td>{{ entry.count }}</td>
            <td>{{ '{0:.1f}%'.format(entry.percentage * 100) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      <div class="panel-footer">
        <a class="btn btn-default" href="{{ analysis.tag_url(pattern[0]) }}">see all {{ pattern[1]|default('values for' +
      pattern[0]) }}</a>
      </div>
      </div>
    </section>
    {% endfor %}
    </section>
    {% else %}
    {% set profile=analysis %}
    {% set source=analysis.source %}
    {% include 'snippets/hxltable.html' %}
    {% endif %}
    {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
