{% extends "page.basic.html" %}
{% from 'snippits.html' import datamenu %}

{% block menu %}
{% if key %}
{{ datamenu(profile, key=key, facet='chart') }}
{% endif %}
{% endblock %}

{% block title %}{% if label %}{{ label }} in {% endif %}{{ profile.args.name|default('Filtered HXL data') }} ({{ type }} chart){% endblock %}

{% block main %}
    <h1>Chart it</h1>

    <div id="chart_div" style="min-height:480px"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      var csv_url = "/data/{{ key }}.csv";
      var chart_type = "{{ type }}";
      var chart_value_tag = "{{ tag }}";
      var chart_label_tag = "{{ label }}";
    </script>
{{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ static('jquery/jquery.csv.js') }}"></script>
    <script type="text/javascript" src="{{ static('hxl-theme/hxl.js') }}"></script>
    <script type="text/javascript" src="{{ static('hxl-theme/show-chart.js') }}"></script>
{% endblock %}
