<!DOCTYPE html>
<html>
  <head>
    <title>{{ tag }} in {{ args.name|default('Filtered HXL data') }} (chart)</title>
    <link rel="stylesheet" type="text/css" href="{{ static('style.css') }}" />
  </head>
  <body>
    <ul class="breadcrumbs">
      <li><a href="/">HXL Proxy</a></li>
      <li>Data: <a href="/data/{{ key }}">{{ args.name|default('Filtered HXL data') }}</a></li>
    </ul>
    <h1>{{ tag }} in {{ args.name|default('Filtered HXL data') }} (chart)</h1>

    <div id="chart_div"></div>

    <p>
      <a href="/data/{{ key }}.csv">Download CSV</a> |
      <a href="/data/{{ key }}.json">Download JSON</a>
    </p>

    <script type="text/javascript">
      var csv_url = "/data/{{ key }}.csv";
      var chart_type = "{{ type }}";
      var chart_value_tag = "{{ tag }}";
      var chart_label_tag = "{{ label }}";
      var chart_filter_tag = "{{ filter }}";
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ static('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static('jquery.csv.js' )}}"></script>
    <script type="text/javascript" src="{{ static('hxl.js') }}"></script>
    <script type="text/javascript" src="{{ static('show-chart.js') }}"></script>
  </body>
</html>
