{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}
{% from 'macros/selectors.html' import selectors %}

{% set nav_filter='active' %}

{% if key %}
{% set title=profile.args.name + ' (edit)' %}
{% else %}
{% set title='New HXL view' %}
{% endif %}

{% block menu %}
{{ navmenu(profile, key=key, facet='edit') }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% set filter_count = 7 %}
{% block main %}
    <main>
      <h1>{{ title }}</h1>

      {% if key %}
      {% set method="POST" %}
      {% set action="/actions/save-profile" %}
      {% else %}
      {% set method="GET" %}
      {% set action="/data/edit" %}
      {% endif %}
      <form action="{{ action }}" method="{{ method }}" id="filter-form">

        <fieldset class="panel panel-default">
          {% if key %}
          <div class="panel-heading">
            <h2><a class="collapsed" data-toggle="collapse" href="#settings-collapse">Settings</a></h2>
          </div>
          {% endif %}
          <div id="settings-collapse" class="{% if key %}panel-collapse collapse{% endif %}">
            <div class="panel-body">
              <input type="hidden" name="filter_count" value="{{ filter_count }}" />

              <div class="form-group required">
                <label for="url">HXL dataset URL</label>
                <input id='dataset-url' class="form-control" name="url" type="url" required="required" value="{{ profile.args.url }}" placeholder="http://example.org/dataset.csv" />
                {{ selectors('#dataset-url', true) }}
              </div>

              {% include 'snippets/filters/tagger.html' %}

              <div class="checkbox pull-left">
                <label>
                  <input type="checkbox" name="strip-headers"{% if profile.args['strip-headers'] %} checked="checked"{% endif %} />
                  Strip text headers before hashtags in output.
                </label>
              </div>

              <div class="form-group pull-right">
                <button class="btn btn-success" type="submit">Update</button>
              </div>

              {% if key %}
              <input type="hidden" name="key" value="{{ key }}" />

              <div class="form-group required">
                <label for="name">Filter name</label>
                <input class="form-control" name="name" required="required" value="{{ profile.name|default('') }}"/>
              </div>

              <div class="form-group">
                <label for="description">Filter description</label>
                <textarea name="description" class="form-control">{{ profile.description|default('') }}</textarea>
              </div>

              <div class="form-group">
                <label for="schema_url">Default schema URL (for validation)</label>
                <input class="form-control" type="url" id="schema_url" name="schema_url" value="{{ profile.args.schema_url|nonone }}" />
                {{ selectors('#schema_url') }}
              </div>

              <div class="checkbox">
                <label>
                  <input name="cloneable" type="checkbox"{% if profile.cloneable %} checked="checked"{% endif %} />
                  Cloning allowed (will expose original URL)
                </label>
              </div>

              <div class="form-group">
                <label for="new-password">New password</label>
                <input class="form-control" name="new-password" type="password" />
              </div>

              <div class="form-group">
                <label for="password-repeat">Repeat new password</label>
                <input class="form-control" name="password-repeat" type="password" />
              </div>
              {% endif %}

              <input type="hidden" name="format" value="html" />
            </div>
          </div>
        </fieldset>

        {% if profile.args.url %}
        <div class="row-fluid">
          <section class="col-sm-3 col-md-2">
            <h2 class="visible-xs-block">Filters</h2>
            <fieldset class="btn-group btn-group-vertical btn-group-justified" role="group" aria-label="Data filters">
              <p>Set filters to change the HXL data on the fly.</p>
              {% for n in range(1, filter_count+1) %}
              <div class="filter">
                <a class="btn btn-default filter-button" data-toggle="modal" data-target="{{ '#filter-dialog-%02d' % n }}" href="{{ '#filter-dialog-%02d' % n }}">{{ n }}</a>
                <div class="modal fade" id="{{ 'filter-dialog-%02d' % n }}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">New filter</h2>
                      </div>
                      <div class="modal-body">
                        <fieldset id="{{ 'filter-group%02d' % n }}">
                          {% include 'snippets/filters/filter-selector.html' %}

                          {% include 'snippets/filters/add.html' %}
                          {% include 'snippets/filters/append.html' %}
                          {% include 'snippets/filters/clean.html' %}
                          {% include 'snippets/filters/count.html' %}
                          {% include 'snippets/filters/cut.html' %}
                          {% include 'snippets/filters/merge.html' %}
                          {% include 'snippets/filters/rename.html' %}
                          {% include 'snippets/filters/replace.html' %}
                          {% include 'snippets/filters/replace-map.html' %}
                          {% include 'snippets/filters/select.html' %}
                          {% include 'snippets/filters/sort.html' %}

                        </fieldset>

                        <button class="btn btn-success" type="submit" aria-label="Close"><span aria-hidden="true">Update</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </fieldset>
          </section>
          <section class="col-sm-9 col-md-10">
            <h2 class="visible-xs-block">Preview</h2>
            {% if source %}
            <div id="preview-table">
              {% include 'snippets/hxltable.html' %}
            </div>
            {% if source.has_more_rows %}
            <p id="preview-warning" class="alert alert-warning hxltable-warning">Previewing the first {{ "{:,}".format(source.max_rows) }} of {{ "{:,}".format(source.total_rows) }} data rows.</p>
            {% endif %}
            {% else %}
            <p class="alert alert-info">No data yet.</p>
            {% endif %}
          </section>
        </div> 
        {% else %}
        <p class="alert alert-warning">Select a HXL dataset URL before creating filters.</p>
        {% endif %}

      </form>
    </main>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ static('hxl-proxy/hxl-proxy.js') }}"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="sm6okywskgdecv9"></script>
    <script src="http://davidmegginson.github.io/hdx-chooser/hdx.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <script>
      hxl_proxy.setupForm();
      $(document).ready(function() {
        $("#preview-warning").insertBefore($("#preview-table"));
        });
    </script>
{% endblock %}
