{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu, hxltable %}

{% set nav_validate='active' %}

{% block menu %}
{{ navmenu(profile, key=key, facet='validate') }}
{% endblock %}

{% block title %}
Validate:
{% if key %}
{{ profile.name }}
{% else %}
HXL data
{% endif %}
{% endblock %}

{% block main %}
    <h1>
      Validate:
      {% if key %}
      <cite>{{ profile.name }}</cite>
      {% else %}
      HXL data
      {% endif %}
    </h1>

      {% if profile.args.url %}
      {% if errors %}
      <p class="alert alert-danger">Failed validation: {{ errors|length }} error(s).</p>

      <table class="table">
        <thead>
          <tr>
            <th>Severity</th>
            <th>Tag</th>
            <th>Value</th>
            <th>Message</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for error in errors %}
          <tr>
            <td><span class="badge">{{ error.severity_label }}</span></td>
            <td>{{ error.rule.tag_pattern|nonone }}</td>
            <td>{{ error.value|nonone }}</td>
            <td>{{ error.message|nonone }}</td>
            <td>
              {% if error.row %}
              <a href="{{ data_url(profile) }}#row_{{ error.row.row_number }}">Row {{ error.row.row_number+1 }}</a>
              {% else %}
              <a href="{{ data_url(profile) }}#hashtag-row">Hashtag row</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="alert alert-success">Validation succeeded with no error.</p>

      <p><a class="btn btn-default" data-toggle="modal" data-target="#customise">Customise</a></p>
      {% endif %}
      {% endif %}

      <div class="modal fade" id="customise" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Customise validation</h2>
            </div>
            <div class="modal-body">
              <form class="form" action="">

                {% if not key %}
                <div class="form-group required">
                  <label class="control-label">HXL dataset URL</label>
                  <input class="form-control" name="url" type="url" required="required" value="{{ profile.args.url or '' }}"
                         placeholder="http://example.org/my-hxl-data.csv" />
                </div>
                {% endif %}

                <div class="form-group">
                  <label for="schema_url">Custom HXL schema URL</label>
                  <input name="schema_url" type="url" value="{{ profile.args.schema_url or '' }}" class="form-control"
                         placeholder="http://example.org/my-hxl-schema.csv" />
                  <p class="help-block">You can choose a custom schema with special rules for your dataset.</p>
                </div>

                <button class="btn btn-success" type="submit">Update</button>

              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
