{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% set nav_filter='active' %}

{% block menu %}
{{ navmenu(profile) }}
{% endblock %}

{% block title %}Upload a HXL file{% endblock %}

{% block main %}
    <main>
      <h1>Upload HXL file</h1>

      <form class="form" method="POST" action="/actions/upload" enctype="multipart/form-data">

        <div class="form-group">
          <label for="file">Upload file (CSV or Excel)</label>
          <input class="form-control" type="file" name="file" />
        </div>

        <p>&hellip; OR &hellip;</p>

        <div class="form-group">
          <label for="data">Enter HXL text (CSV format)</label>
          <textarea class="form-control" name="data" rows="10"></textarea>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
        
      </form>

    </main>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
