<!DOCTYPE html>
<html lang="en">
  {% set facet='tagger' %}
  <head>
    <title>Add hashtags @ HXL Proxy</title>
    {% include "includes/headers.html" %}
  </head>
  <body class="container-fluid">
    {% include "includes/navbar.html" %}
    <header class="col-sm-12">
      {% include "includes/data-tabs.html" %}
      <h1>
        Tag a non-HXL dataset
      </h1>
    </header>
    <main class="col-sm-9">
      {% if not header_row %}
      <section class="col-sm-12">
        {% include "includes/source.html" %}

        {% if not using_tagger_p(recipe) %}
        <p class="alert alert-warning">
          We can't find any <a href="http://hxlstandard.org">HXL
          hashtags</a> in your data, but all is not lost!  You can define
          tags to go with your headers below, and the HXL Proxy will add
          them automatically.
        </p>
        {% endif %}

        <p>First, select the <b>last header row</b> before the data starts.</p>

        <table class="table">
          {% for row in preview %}
          <tr>
            <td>
              <form method="GET" action="">
                <input type="hidden" name="header-row" value="{{ loop.index }}" />
                {% include "includes/params.html" %}
                <button class="btn btn-default">Row {{ loop.index }}</button>
              </form>
            </td>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>

      </section>
      {% else %}
      <section class="col-sm-9 col-md-10">

        {% include "includes/source.html" %}

        {% if not using_tagger_p(recipe) %}
        <p class="alert alert-warning">
          We can't find any <a href="http://hxlstandard.org">HXL
          hashtags</a> in your data, but all is not lost!  You can define
          tags to go with your headers below, and the HXL Proxy will add
          them automatically.
        </p>
        {% endif %}

        <p class="alert alert-info">Pick HXL tags for some or all of your headers.</p>
        
        <form class="panel-body" action="/data/edit" method="GET">

          <div class="panel-body">
            {% import 'includes/filters/filter-variables.j2' as vars %}
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Header (sub)string</th>
                  <th>HXL hashtag</th>
                </tr>
                <tr>
                  <td><i>E.g.</i></td>
                  <td><code>Province</code></td>
                  <td><code>#adm1</code></td>
                </tr>
              </thead>
              <tbody>
                {% for value in preview[header_row-1] %}
                {% set name='tagger-%02d' % loop.index %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>
                    <input class="form-control" name="{{ name + '-header' }}"
                           value="{{ recipe.args[name + '-header'] or value|strnorm }}"
                           placeholder="Header text" />
                  </td>
                  <td>
                    <input class="form-control" name="{{ name + '-tag' }}"
                           value="{{ recipe.args[name + '-tag'] }}"
                           pattern="^{{ vars.tag_pattern }}$" title="{{ vars.tag_help }}"
                           placeholder="{{ vars.tag_placeholder }}" />
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Next</button>
          </div>

          {% include "includes/params.html" %}

        </form>
      </section>
      {% endif %}
    </main>
    {% include "includes/sidebar.html" %}
    {% include "includes/scripts.html" %}
  </body>
</html>
