{% extends "page.basic.html" %}
{% from 'macros/datamenu.html' import datamenu %}

{% block menu %}
{{ datamenu(profile, key=key, facet='chart') }}
{% endblock %}

{% block title %}{% if label %}{{ label }} in {% endif %}{{ profile.args.name|default('Filtered HXL data') }} ({{ type }} chart){% endblock %}

{% block main %}
    <h1>
      Chart:
      {% if key %}
      <cite>{{ profile.name }}</cite>
      {% else %}
      HXL data
      {% endif %}
    </h1>

    <div id="chart_div" style="min-height:480px"></div>

    <p class="small">
      Dataset: 
      <a href="{{ data_url(profile, key) }}">
        {% if key %}
        {{ profile.name }}
        {% else %}
        {{ profile.args.url }}
        {% endif %}
      </a>
    </p>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      var csv_url = "{{ data_url(profile, key, format='csv') | safe }}";
      var chart_type = "{{ type }}";
      var chart_value_tag = "{{ tag }}";
      var chart_label_tag = "{{ label }}";
    </script>
{{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ static('jquery/jquery.csv.js') }}"></script>
    <script type="text/javascript" src="{{ static('hxl-theme/hxl.js') }}"></script>
    <script type="text/javascript" src="{{ static('hxl-theme/show-chart.js') }}"></script>
{% endblock %}
