{% extends "models/page.basic.html" %}
{% from 'macros/navmenu.html' import navmenu %}

{% block title %}{{ profile.name|default("Filtered data") }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
{{ navmenu(profile=profile, key=key, facet='data') }}
{% endblock %}

{% block main %}
    {% if key %}
    <h1>{{ profile.name|default("Filtered data") }}</h1>
    {% if profile.description %}
    <p>{{ profile.description }}</p>
    {% endif %}
    {% else %}
    <h1>New filter preview</h1>
    {% endif %}

    {% if not key or profile.cloneable %}
    <p class="small">Original dataset: <a href="{{ profile.args.url }}">{{ profile.args.url }}</a></p>
    {% endif %}

    <section id="data">
      <h2>Data</h2>
      {% include 'snippets/hxltable.html' %}
    </section>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ static('dataTables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('hxl-theme/show-table.js') }}"></script>
{% endblock %}
