<!DOCTYPE html>
<html lang="en">
  {% set facet='edit' %}
  <head>
    <title>Password @ HXL Proxy</title>
    {% include "includes/headers.html" %}
  </head>
  <body class="container-fluid">
    {% include "includes/navbar.html" %}
    <header>
      <h1>Password required</h1>
    </header>
    <main>
      <p>You need to enter the correct password to edit <a href="{{ data_url_for('data_view', recipe) }}">{{ recipe.name }}</a></p>
      <form class="theme-form" method="POST" action="{{ url_for('do_data_login') }}">
        <div class="required form-group">
          <label for="password">Password</label>
          <input name="password" type="password" required="required" class="form-control" />
        </div>
        <input type="hidden" name="from" value="{{data_url_for('data_edit', recipe) }}"/>
        <button type="submit">Edit this recipe</button>
      </form>
    </main>
    {% include "includes/scripts.html" %}
  </body>
</html>

