<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HXL Proxy error</title>
    {% include "includes/scripts.html" %}
  </head>
  <body class="container-fluid">
    <header>
      <h1>Something went wrong!</h1>
    </header>
    <main>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title">Details</h2>
        </div>
        <div class="panel-body">
          {% if e.human %}
          <p class="lead">
            <b>In human-speak:</b>
            {{ e.human }}
          </p>
          {% endif %}
          <p>
            <b>In machine-speak:</b>
            <pre>{% if e.message %}{{ e.message }}{% else %}{{ e }}{% endif %}</pre>
          </p>
          {% if e.data and e.data.input.raw_input.geturl() %}
          <a class="btn btn-info" href="{{ e.data.input.raw_input.geturl() }}">
            See what was returned
          </a>
          {% endif %}
        </div>
        <div class="panel-footer small">
          Help make the HXL Proxy better! Please <a
          href="https://github.com/HXLStandard/hxl-proxy/issues">report
          this bug at GitHub</a> (and include the URL).
        </div>
      </div>
    </main>
    {% include "includes/scripts.html" %}
  </body>
</html>
