{% extends "page.basic.html" %}
{% from 'snippits.html' import datamenu %}

{% block title %}{{ title|default('Filtered HXL data') }}{% endblock %}

{% block head %}
{{ super() }}
    <link href="{{ static('dataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
{{ managemenu(key, active_manage='active') }}
{% if key %}
{{ datamenu(key) }}
{% endif %}
{% endblock %}

{% block main %}
    {% if key %}
    {% else %}
    <form method="GET" action="/filters/new">
      {% for name in profile.args %}
      {% if profile.args[name] %}
      <input type="hidden" name="{{ name }}" value="{{ profile.args[name] }}" />
      {% endif %}
      {% endfor %}
      <button type="submit">Refine filter</button>
    </form>
    <form method="POST" action="/actions/save-filter">
      {% for name in profile.args %}
      {% if profile.args[name] %}
      <input type="hidden" name="{{ name }}" value="{{ profile.args[name] }}" />
      {% endif %}
      {% endfor %}
      <button type="submit">Save this filter</button>
    </form>
    {% endif %}

    <table class="datatable">
      <thead>
        {% if source.hasHeaders %}
        <tr class="hxl-headers">
          {% for header in source.headers %}
          <th>{{ unicode(header) }}</th>
          {% endfor %}
        </tr>
        {% endif %}
        <tr class="hxl-tags">
          {% for tag in source.tags %}
          <th>{{ unicode(tag) }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in source %}
        <tr>
          {% for value in row.values %}
          <td>{{ unicode(value) }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ static('dataTables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('hxl-theme/show-table.js') }}"></script>
{% endblock %}
