<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default('Filtered HXL data') }}</title>
    <link rel="stylesheet" type="text/css" href="{{ static('style.css') }}" />
  </head>
  <body>
    <ul class="breadcrumbs">
      <li><a href="/">HXL Proxy</a></li>
    </ul>
    <h1>{{ title|default('Filtered HXL data') }}</h1>

    {% if key %}
    <p>
      <b>Links:</b>
      <a href="/data/{{ key }}.csv">CSV</a>
      <a href="/data/{{ key }}.json">JSON</a>
      <a href="/data/{{ key }}/chart">Chart</a>
    </p>
    {% else %}
    <form method="POST" action="/actions/save-filter">
      {% for name in args %}
      {% if args[name] %}
      <input type="hidden" name="{{ name }}" value="{{ args[name] }}" />
      {% endif %}
      {% endfor %}
      <button type="submit">Save this filter</button>
    </form>
    {% endif %}

    {#
    <section id="chart">
      <h2>Chart</h2>
    </section>
    #}

    <section id="data">
      <h2>Data</h2>
      <table>
        <thead>
          {% if source.hasHeaders %}
          <tr class="hxl-headers">
            {% for header in source.headers %}
            <th>{{ unicode(header) }}</th>
            {% endfor %}
          </tr>
          {% endif %}
          <tr class="hxl-tags">
            {% for tag in source.tags %}
            <th>{{ unicode(tag) }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in source %}
          <tr>
            {% for value in row.values %}
            <td>{{ unicode(value) }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <script type="text/javascript" src="{{ static('bookmarks.js') }}"></script>
  </body>
</html>
