<!DOCTYPE html>
<html>
  {% if key %}
  {% set title=args.name + ' (edit)' %}
  {% else %}
  {% set title='Create a new filter' %}
  {% endif %}

  {% set tag_pattern = '#?[A-Za-z][_0-9A-Za-z]*' %}
  {% set tag_pattern_help = 'Example: adm1' %}

  {% set tags_pattern = '(' + tag_pattern + ')(,' + tag_pattern + ')*' %}
  {% set tags_pattern_help = 'Example: country,adm1,org,sector' %}

  {% set query_pattern = tag_pattern + '([=~<>]|<=|>=|!=|!~).*' %}
  {% set query_pattern_help = 'Example: adm1=Bomi' %}

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ static('style.css') }}" />
  </head>
  <body>
    <ul class="breadcrumbs">
      <li><a href="/">HXL Proxy</a></li>
      {% if key %}
      <li>Data: <a href="/data/{{ key }}">{{ args.name }}</a></li>
      {% endif %}
    </ul>
    <h1>{{ title }}</h1>

    {% if key %}
    {% set method="POST" %}
    {% set action="/actions/save-filter" %}
    {% else %}
    {% set method="GET" %}
    {% set action="/filters/preview" %}
    {% endif %}
    <form action="{{ action }}" method="{{ method }}" id="filter-form">
      
      {% set filter_count = 5 %}
      <input type="hidden" name="filter_count" value="{{ filter_count }}" />
      {% if key %}
      <input type="hidden" name="key" value="{{ key }}" />
      {% endif %}

      <label class="required">
        <span>Filter name</span>
        <input name="name" required="required" value="{{ args.name|default('') }}"/>
      </label>

      <label class="required">
        <span>HXL dataset URL</span>
        <input name="url" type="url" required="required" value="{{ args.url }}"/>
      </label>

      {% for n in range(1, filter_count+1) %}
      <fieldset id="{{ 'filter-group%02d' % n }}">
        <legend>Filter #{{ n }}</legend>
        <label id="{{ 'filter%02d' % n }}" class="field_filter">
          <span>Filter type</span>
          {% set name='filter%02d' % n %}
          <select name="{{ name }}">
            <option value="">(none)</option>
            <option value="count"{% if args[name]=='count' %} selected="selected"{% endif %}>Count records</option>
            <option value="clean"{% if args[name]=='clean' %} selected="selected"{% endif %}>Clean data</option>
            <option value="cut"{% if args[name]=='cut' %} selected="selected"{% endif %}>Cut columns</option>
            <option value="merge"{% if args[name]=='merge' %} selected="selected"{% endif %}>Merge datasets</option>
            <option value="select"{% if args[name]=='select' %} selected="selected"{% endif %}>Select rows</option>
            <option value="sort"{% if args[name]=='sort' %} selected="selected"{% endif %}>Sort data</option>
          </select>
        </label>

        <div class="fields-clean hideable">

          {% set name='clean-whitespace-tags%02d' % n %}
          <label id="{{ name }}">
            <span>Normalise whitespace (tags)</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='clean-toupper-tags%02d' % n %}
          <label id="{{ name }}">
            <span>To uppercase (tags)</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='clean-tolower-tags%02d' % n %}
          <label id="{{ name }}">
            <span>To lowercase (tags)</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='clean-date-tags%02d' % n %}
          <label id="{{ name }}">
            <span>Fix dates (tags)</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='clean-num-tags%02d' % n %}
          <label id="{{ name }}">
            <span>Fix numbers (tags)</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

        </div>

        <div class="fields-cut hideable">

          {% set name='cut-include-tags%02d' % n %}
          <label id="{{ name }}">
            <span>Include tags</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='cut-exclude-tags%02d' % n %}
          <label id="{{ name }}">
            <span>Exclude tags</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

        </div>

        <div class="fields-count hideable">

          {% set name='count-tags%02d' % n %}
          <label id="{{ name }}" class="required">
            <span>Tags to count</span>
            <input name="{{ name }}" value="{{ args[name] }}" required="required" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='count-aggregate-tag%02d' % n %}
          <label id="{{ name }}">
            <span>Tag to aggregate</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tag_pattern }}$" title="{{ tag_pattern_help }}" />
          </label>

        </div>

        <div class="fields-merge hideable">

          {% set name='merge-url%02d' % n %}
          <label id="{{ name }}" class="required">
            <span>URL of merge dataset</span>
            <input name="{{ name }}" type="url" value="{{ args[name] }}" required="required" />
          </label>

          {% set name='merge-tags%02d' % n %}
          <label id="{{ name }}" class="required">
            <span>Tags to copy from other dataset</span>
            <input name="{{ name }}" value="{{ args[name] }}" required="required" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='merge-keys%02d' % n %}
          <label id="{{ name }}" class="required">
            <span>Tags shared with merge dataset</span>
            <input name="{{ name }}" value="{{ args[name] }}" required="required" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>

          {% set name='merge-before%02d' % n %}
          <label id="{{ name }}">
            <input type="checkbox" name="{{ name }}"{% if args[name] %} checked="checked"{% endif %} />
            <span>Add merge columns to front</span>
          </label>

        </div>

        <div class="fields-select hideable">

          {% set name='select-query%02d' % n %}
          <label id="{{ name }}" class="required">
            <span>Query</span>
            <input name="{{ name }}" value="{{ args[name] }}" required="required" pattern="^{{ query_pattern }}$" title="{{ query_pattern_help }}"/>
          </label>

          {% set name='select-reverse%02d' % n %}
          <label id="{{ name }}">
            <input type="checkbox" name="{{ name }}"{% if args[name] %} checked="checked"{% endif %} />
            <span>Reverse</span>
          </label>

        </div>

        <div class="fields-sort hideable">

          {% set name='sort-tags%02d' % n %}
          <label id="{{ name }}">
            <span>Sort tags</span>
            <input name="{{ name }}" value="{{ args[name] }}" pattern="^{{ tags_pattern }}$" title="{{ tags_pattern_help }}" />
          </label>
          
          {% set name='sort-reverse%02d' % n %}
          <label id="{{ name }}">
            <input type="checkbox" name="{{ name }}"{% if args[name] %} checked="checked"{% endif %} />
            <span>Reverse</span>
          </label>

        </div>

      </fieldset>
      {% endfor %}

      <input type="hidden" name="format" value="html" />
      <button type="submit">Go!</button>
    </form>
    <script type="text/javascript" src="{{ static('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static('filter-form.js') }}"></script>
  </body>
</html>
