{% extends "page.basic.html" %}

{% block title %}{{ title|default('Filtered HXL data') }}{% endblock %}

{% block menu %}
{{ super() }}
{% if key %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Visualise <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/data/{{ key }}/chart?type=pie">Pie chart</a></li>
                <li><a href="/data/{{ key }}/chart?type=bar">Bar graph</a></li>
                <li><a href="/data/{{ key }}/chart?type=column">Column graph</a></li>
                <li class="divider"></li>
                <li><a href="/data/{{ key }}/map">Map</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Download <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/data/{{ key }}.csv">Download as CSV</a></li>
                <li><a href="/data/{{ key }}.json">Download as JSON</a></li>
              </ul>
            </li>
{% endif %}
{% endblock %}

{% block main %}
    {% if key %}
    {% else %}
    <form method="GET" action="/filters/new">
      {% for name in profile.args %}
      {% if profile.args[name] %}
      <input type="hidden" name="{{ name }}" value="{{ profile.args[name] }}" />
      {% endif %}
      {% endfor %}
      <button type="submit">Refine filter</button>
    </form>
    <form method="POST" action="/actions/save-filter">
      {% for name in profile.args %}
      {% if profile.args[name] %}
      <input type="hidden" name="{{ name }}" value="{{ profile.args[name] }}" />
      {% endif %}
      {% endfor %}
      <button type="submit">Save this filter</button>
    </form>
    {% endif %}

    <table>
      <thead>
        {% if source.hasHeaders %}
        <tr class="hxl-headers">
          {% for header in source.headers %}
          <th>{{ unicode(header) }}</th>
          {% endfor %}
        </tr>
        {% endif %}
        <tr class="hxl-tags">
          {% for tag in source.tags %}
          <th>{{ unicode(tag) }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in source %}
        <tr>
          {% for value in row.values %}
          <td>{{ unicode(value) }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
