<!DOCTYPE html>
<html>
  {% if key %}
  {% set title=args.name + ' (edit)' %}
  {% else %}
  {% set title='Create a new filter' %}
  {% endif %}
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ static('style.css') }}" />
  </head>
  <body>
    <ul class="breadcrumbs">
      <li><a href="/">HXL Proxy</a></li>
      {% if key %}
      <li>Data: <a href="/data/{{ key }}">{{ args.name }}</a></li>
      {% endif %}
    </ul>
    <h1>{{ title }}</h1>
    {% if key %}
    {% set method="POST" %}
    {% set action="/actions/save-filter" %}
    {% else %}
    {% set method="GET" %}
    {% set action="/filters/preview" %}
    {% endif %}
    <form action="{{ action }}" method="{{ method }}" id="filter-form">
      

      {% set filter_count = 5 %}
      <input type="hidden" name="filter_count" value="{{ filter_count }}" />
      {% if key %}
      <input type="hidden" name="key" value="{{ key }}" />
      {% endif %}

      <label>
        <span><b>* Filter name</b></span>
        <input name="name" required="required" value="{{ args.name|default('') }}"/>
      </label>

      <label>
        <span><b>* HXL dataset URL</b></span>
        <input name="url" type="url" required="required" value="{{ args.url }}"/>
      </label>

      {% for n in range(1, filter_count+1) %}
      <fieldset id="{{ 'filter-group%02d' % n }}">
        <legend>Filter #{{ n }}</legend>
        <label id="{{ 'filter%02d' % n }}" class="field_filter">
          <span>Filter type</span>
          {% set name='filter%02d' % n %}
          <select name="{{ name }}">
            <option value="">(none)</option>
            <option value="count"{% if args[name]=='count' %} selected="selected"{% endif %}>Count</option>
            <option value="norm"{% if args[name]=='norm' %} selected="selected"{% endif %}>Normalise</option>
            <option value="sort"{% if args[name]=='sort' %} selected="selected"{% endif %}>Sort</option>
            <option value="cut"{% if args[name]=='cut' %} selected="selected"{% endif %}>Cut</option>
            <option value="select"{% if args[name]=='select' %} selected="selected"{% endif %}>Select</option>
          </select>
        </label>

        {% set name='tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_count filter_field_sort">
          <span>Tags</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='include_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_cut">
          <span>Include tags</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='exclude_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_cut">
          <span>Exclude tags</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='whitespace_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_norm">
          <span>Normalise whitespace (tags)</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='toupper_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_norm">
          <span>To uppercase (tags)</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='tolower_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_norm">
          <span>To lowercase (tags)</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='date_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_norm">
          <span>Fix dates (tags)</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='num_tags%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_norm">
          <span>Fix numbers (tags)</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='aggregate_tag%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_count">
          <span>Tag to aggregate</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='query%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_select">
          <span>Query</span>
          <input name="{{ name }}" value="{{ args[name] }}" />
        </label>

        {% set name='reverse%02d' % n %}
        <label id="{{ name }}" class="hideable filter_field_select filter_field_sort">
          <input type="checkbox" name="{{ name }}"{% if args[name] %} checked="checked"{% endif %} />
          <span>Reverse</span>
        </label>

    </fieldset>
    {% endfor %}

    <input type="hidden" name="format" value="html" />
    <button type="submit">Go!</button>
  </form>
  <script type="text/javascript" src="{{ static('jquery.js') }}"></script>
  <script type="text/javascript" src="{{ static('filter-form.js') }}"></script>
</body>
</html>
