{% extends "page.basic.html" %}
{% from 'snippits.html' import datamenu %}

{% block menu %}
{{ super() }}
{% if key %}
{{ datamenu(key, active_visualise='active', active_map='active') }}
{% endif %}
{% endblock %}

{% block title %}{{ args.name|default('Filtered HXL data') }} (map){% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ static('leaflet/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('leaflet/plugins/markercluster/MarkerCluster.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('leaflet/plugins/markercluster//MarkerCluster.Default.css') }}" />
{% endblock %}

{% block main %}
    <h1>{{ args.name|default('Filtered HXL data') }} (map)</h1>

    <div id="map-div" style="height: 480px"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      var csv_url = "/data/{{ key }}.csv";
      var map_layer_tag = "{{ layer_tag }}";
    </script>
    <script type="text/javascript" src="{{ static('leaflet/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ static('leaflet/plugins/markercluster/leaflet.markercluster.js') }}"></script>
{{ super() }}
    <script type="text/javascript" src="{{ static('jquery/jquery.csv.js') }}"></script>
    <script type="text/javascript" src="{{ static('hxl-theme/hxl.js') }}"></script>
    <script type="text/javascript" src="{{ static('hxl-theme/show-map.js') }}"></script>
{% endblock %}
