{% macro datamenu(profile, key=None, facet=None) %}
            <li class="{% if facet=='data' %}active{% endif %}"><a href="{{ data_url(profile, key) }}"><span class="glyphicon glyphicon-th"></span> data</a></li>
            <li class="{% if facet=='validate' %}active{% endif %}"><a href="{{ data_url(profile, key, 'validate') }}"><span class="glyphicon glyphicon-ok"></span> validate</a></li>
            <li class="{% if facet=='map' %}active{% endif %}"><a href="{{ data_url(profile, key, 'map') }}"><span class="glyphicon glyphicon-map-marker"></span> map</a></li>
            <li class="{% if facet=='chart' %}active{% endif %}"><a href="{{ data_url(profile, key, 'chart') }}"><span class="glyphicon glyphicon-signal"></span> chart</a></li>
            {% if profile.cloneable %}
            <li><a href="{{ data_url(profile, None, 'edit') }}"><span class="glyphicon glyphicon-copy"></span> clone</a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-download-alt"></span> download<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/data/{{ key }}.csv">download as CSV</a></li>
                <li><a href="/data/{{ key }}.json">download as JSON</a></li>
              </ul>
            </li>
            {% if facet=='data' or facet=='edit' %}
            <li class="{% if facet=='edit' %}active{% endif %}"><a href="/data/{{ key }}/chart"><span class="glyphicon glyphicon-pencil"></span> edit</a></li>
            {% endif %}
{% endmacro %}

{% macro hxltable(source, show_headers=True, validation=False) %}
    {% if source %}
    <div class="table-container">
    <table class="table">
      <thead>
        {% if show_headers and source.hasHeaders %}
        <tr class="hxl-headers">
          <th></th>
          {% for header in source.headers %}
          <th>{{ unicode(header) }}</th>
          {% endfor %}
        </tr>
        {% endif %}
        <tr class="hxl-tags">
          <th></th>
          {% for tag in source.displayTags %}
          <th>{{ unicode(tag) }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in source %}
        <tr>
          <td><span class="content">{{ row.row_number + 1 }}</span></td>
          {% for value in row.values %}
          <td><span class="content">{{ unicode(value) }}</span></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}
{% endmacro %}

{% macro icons() %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ static('hxl-theme/icons/apple-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ static('hxl-theme/icons/apple-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ static('hxl-theme/icons/apple-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ static('hxl-theme/icons/apple-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ static('hxl-theme/icons/apple-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ static('hxl-theme/icons/apple-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ static('hxl-theme/icons/apple-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ static('hxl-theme/icons/apple-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('hxl-theme/icons/apple-icon-180x180.png') }}" />
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ static('hxl-theme/icons/android-icon-192x192.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static('hxl-theme/icons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ static('hxl-theme/icons/favicon-96x96.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static('hxl-theme/icons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ static('hxl-theme/icons/manifest.json') }}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
{% endmacro %}

{% macro hidden_fields(args) %}
{% for name in args %}
<input type="hidden" name="{{ name }}" value="{{ args[name] }}" />
{% endfor %}
{% endmacro %}
