
{% extends "page.basic.html" %}
{% from 'snippits.html' import datamenu, hxltable %}

{% set nav_validate='active' %}

{% block menu %}
{% if key %}
{{ datamenu(key) }}
{% endif %}
{% endblock %}

{% block title %}{{ title|default('HXL validation') }}{% endblock %}

{% block main %}
    <main class="container-fluid">
      <h1>{{ title|default('HXL validation') }}</h1>

      <section class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="{% if url %}collapsed{% endif %}" data-toggle="collapse" href="#configuration">
              Configuration
            </a>
          </h2>
        </div>
        <div class="collapse{% if not url %} in{% endif %}" id="configuration">
          <div class="panel-body">
            <form class="form" action="">

              <div class="form-group required">
                <label class="control-label">HXL dataset URL</label>
                <div class="input-group">
                  <input class="form-control" name="url" type="url" required="required" value="{{ url or '' }}"
                         placeholder="http://example.org/my-hxl-data.csv" />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Validate</button>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="schema_url">Schema URL</label>
                <input name="schema_url" type="url" value="{{ schema_url or '' }}" class="form-control"
                       placeholder="http://example.org/my-hxl-schema.csv" />
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="show_all"{% if show_all %} checked="checked"{% endif %}/>
                  Show all rows
                </label>
              </div>
            </form>
          </div>
        </div>
      </section>

      {% if source %}
      <section id="dataset">
        {{ hxltable(source) }}
      </section>
      {% endif %}
    </main>
{% endblock %}
